:root {
      /* --gray: rgb(31, 31, 31); */
      --gray: rgb(26, 26, 26);
      --red: rgb(185, 41, 41);
      --orange: #FC6B00;
      --light-orange: #ff8d3b;
      --dark-orange: #d65900;

      --bg-menu-card: rgb(230, 229, 229);

      /* FONT */
      --primary-font: 'Quicksand', sans-serif;
      --secondary-font: 'Kaushan Script', cursive;
      --third-font: 'Lato', sans-serif;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;

      font-family: var(--third-font);
      font-weight: 400;
}

*::selection {
      background: var(--orange);
}

body {
      
}

p {
      text-align: justify;
}

.container {
      width: 80%;
      margin: auto;
}

/* SECTION */
.section {
      height: auto;
      padding: 2rem 0;

      background: rgb(236, 236, 236);
      background: var(--gray);
}

.section__title {
      margin: 4rem;

      font-family: var(--secondary-font);
      font-size: 55px;
      color: #fff;
      text-align: center;
}


.header {
      width: 100%;

      background: var(--gray);
      color: #fff;
}


/* NAVBAR */
.navbar {
      height: 80px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;

      background: rgb(34, 34, 34);

      transition: background 0.3s ease;
}

.navbar--active {
      background: var(--orange);
      background: rgb(36, 36, 36);
      
}

.navbar .container {
      height: inherit;

      display: flex;
      justify-content: space-between;
      align-items: center;
}

.navbar__logo {
      font-size: 25px;
}

.navbar__list {
      display: flex;
      justify-items: space-around;
      align-items: center;
}

.navbar__list-item {
      margin: 0 10px;

      list-style: none;
}

.navbar__link {
      padding: 10px;

      border-radius: 8px;

      font-size: 16px;
      color: #fff;
      transition: background 0.3s ease;
      text-decoration: none;
}

.navbar__link:hover {
      background: var(--dark-orange);
}

/* BANNER */
.banner {
      height: 100vh;
      position: relative;

      background-image: url(../images/banner/banner-bg-3.avif);
      background-size: cover;

      display: flex;
      justify-content: flex-start;
      align-items: center;

}

.banner .container {
      height: 100%;
      padding: 8rem 0;

      
}

/* .banner::before {
      content: "";
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.842);
      z-index: 2;
} */

.banner__info {
      width: 50%;
      height: 100%;
      padding: 0 5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
}

.banner__info * {
      margin: 10px 0;
}

.banner__title {
      margin: 0;

      font-family: var(--secondary-font);
      font-size: 100px;
      font-weight: 100;
}

.banner__text {
      width: 80%;

      font-size: 20px;
      font-weight: 300;
      text-align: justify;
}

.button {
      padding: 8px 10px;

      /* background: rgb(252, 252, 252); */
      background: var(--dark-orange);
      color: #fff;
      border: none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;

      font-size: 18px;
      font-weight: 300;
}




/*------------------------------------ ABOUT -----------------------------------*/
.about-us {

}

.about-container {
      width: 100%;
      height: auto;
      margin: auto;

      /* background: rgb(133, 117, 117); */
}

.about-container .container {
      height: inherit;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.about-container__left {
      height: 50%;
      width: 40%;
      padding: 1rem;

      color: #fff;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
}

.about-container__left * {
      margin: 10px;
}

.about-container__title {
      font-size: 35px;
      font-family: var(--third-font);
      font-weight: 900;
      color: #fff;
}

.about-container__text {
      font-size: 16px;
      font-weight: 300;
}

.about-container__social-links {
      margin: 0;
}

.about-container__social-item {
      display: inline;
      margin: 0;

      list-style: none;
}

.about-container__social-link {
      margin: 0 5px;

      font-size: 25px;
      text-decoration: none;
      color: #fff;
}

.about-container__social-link:nth-child(1) {
      margin-left: 0;
}


.about-container__img {
      width: 50%;
      height: 500px;

      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.596) 0px 4px 12px;
      object-fit: cover;
}


/*------------------------------------ MENU ------------------------------------*/
.flex-menu {
      width: 100%;
      /* padding: 1rem 0; */

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
}

.menu__card {
      width: 100%;
      padding: 1rem;

      background: rgb(41, 41, 41);
      color: #fff;
      /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

.menu__card * {
      margin: 5px 0;
}

.card__line {
      height: 2px;
      width: 100%;
      background: linear-gradient(to left, red, orange);
      border: none;
}

.card__title {
      font-size: 25px;
}

.card__description {
      
}

.card__img {
      height: 200px;
      width: 100%;

      object-fit: cover;
}

.hidden {
      display: none;
}


/*------------------------ CONTACT --------------------------------*/
.contact {
      /* background: var(--gray); */
      color: #fff;
}

.content {
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
}

.left {
      width: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.map {
      width: 100%;
      height: 700px;
}




.form {
      width: 100%;
      margin: 1rem 0;
      /* padding: 1rem; */

      
      color: rgb(255, 255, 255);

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
}

.form-group {
      width: 100%;
}

.form-control {
      width: 100%;
      padding: 10px;
      margin: 5px 0;

      outline: none;
}

.left__title {
      font-size: 20px;
      font-weight: bold;
}

.social-links {
      width: 50%;
      min-height: 120px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      background: var(--dark-orange);      
      text-align: center;
}

.social-links__link {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
}


@media screen and (max-width: 1024px) {

      .navbar .container {
            padding: 0 1rem;
      }

      .navbar__list {
            display: none;
      }

      .burger-button {
            display: block;
      }

      /*----------------- BANNER ------------------------*/
      .banner__info {
            width: 100%;
            padding: 0 1rem;

            justify-content: center;
            align-items: center;
      }

      .banner__title {
            font-size: 50px;
      }

      .banner__text {
            width: 100%;

            font-size: 20px;
      }

      /*----------------- ABOUT -------------------------*/
      .about-container .container {
            flex-direction: column;
      }
      
      .about-container__left {
            width: 100%;
      }

      .about-container__img {
            width: 100%;

            padding: 0 1rem;
      }
}

@media screen and (max-width: 590px) {
      .container {
            width: 100%;
      }

      .section__title {
            margin: 10px 0;

            font-size: 40px;
      }

      .flex-menu {
            padding: 1rem;

            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }

      .contact .container {
            padding: 0 1rem;
      }
}